.navbar-dark {
  background-color: rgb(253, 253, 186);
}

.logo {
  font-size: 8px;
}


.bottom-left {
  position: absolute;
  bottom: 1px;
  left: 8px;
}

.navbar .nav-link {
  color: white;
  background-color: cornflowerblue;
}
.navbar-dark .navbar-toggler{
  color: black;
}

.attack {
  background-color: #f0ad4e;
}
.tog {
  color: azure;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgb(248, 248, 209);
  color: rgb(255, 165, 87);
}

.jumbotron .btn-primary {
  background-color: #0275d8;
}
.jumbotron .img {
  width: 100%;
}

.footer{
  background-color: rgb(233, 213, 196);;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gray {
  background-color: rgb(233, 233, 233);
}

.nav-pill {
  cursor: pointer;
}